/*

Since I include that reset.css all tags no longer have theri associated characteristics
so h1 - h6 must be set, along with img, strong, p, a, all of the commonly used tags must
have their CSS styling reset. Hence the name.

*/



/*MAIN STYLING*/

html, body {
  background: #FBFFE0;
  height: 100%;
  font-family: 'Arimo', sans-serif;

}

/* HEADER */

/*Working with using fixed to have header constantly visible. There are many
other options but this is first attempt

If I remove the fixed position the header and nav bar will re-appear

*/
header {
  position: fixed;
  background: #B0FF61;
  height: 50px;
  z-index: 1;
}

header h4 {
  font-size: 35px;
  position: absolute;
  left: 0;
}

header nav {
  position: absolute;
  right: 0;
}

header nav ul {

}

header nav ul li {
  display: inline-block;
}

/* LANDING */

#landing {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

/*It appears that this landing page class is not doing anything */
#landing .landingPage {
  background: #8C591D;
  width: 418px;
  height: 240px;

}

#landing h1 {
  line-height: 95px;
  vertical-align: baseline;
  text-align: center;
  font-size: 55px;
  font-weight: 400;
  position: absolute;
  left:0;
  top: 0;
  background: #62B0FF;
  height: 100px;
  width: 75%;

}

#landing p {
  position: absolute;
  background: #FF62B0;
  height: 75px;
  width: 50%;
  right:0;
  bottom:0;
  text-align: center;
  vertical-align: baseline;
  line-height: 60px;
}

#landing .landingPage img {
  position: absolute;
  width: 100%;
}


/* SLIDESHOW */

#slideshow {
  background: #FBFFE0;
  height: 500px;

}


/* MENU */

#menu {
  background: #FF62B0;
  height: 500px;
}



/* CONTACT */

#contact {
  background: #62B0FF;
  height: 500px;

}



/* FOOTER */

footer {
  background: #B0FF61;
  height: 75px;
}
